body {
  background-image: url('../img/background1.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

}

#gemMine {

  cursor: pointer;
}

#gemMine {
  width: 150px;
  /* Adjust the size of the gem mine */
  height: 150px;
  margin-left: -35px;
}


#gemCount {
  font-size: 30px;
  color: white;
  margin-top: 100px;
  margin-left: -5px;
}

#gemCount img {
  height: 23px;
  width: auto;


}

#gemCountValue {
  display: inline-block;
  margin-left: 10px;
  /* Add a small margin between the gem icon and count */
}

#upgrade {
  width: 150px;
  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
}

#upgrade:hover {
  background-color: rgba(87, 253, 87, 0.372);
}

#upgrade img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}


#autoClicker {
  width: 150px;

  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
}

#autoClicker:hover {
  background-color: rgba(87, 253, 87, 0.372);

}

#autoClicker img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}

/*boost*/

#productionBoost {
  width: 150px;

  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
}

#productionBoost:hover {
  background-color: rgba(87, 253, 87, 0.372);
}

#productionBoost img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;

}

#muteButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

#muteIcon {
  width: 30px;
  height: auto;
}

#muteButton:hover #muteIcon {
  filter: brightness(80%);
}

/*achivments*/
#achievementsButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  margin-right: 35px;
}

#achievementsIcon {
  width: 30px;
  height: auto;
}

#achievementsButton:hover #achievementsIcon {
  filter: brightness(80%);
}

#achievementsSection {
  position: fixed;
  top: 10px;
  right: 50px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  display: none;
  z-index: 999;
}

#achievementsSection h2 {
  color: #333;
}

#achievementsSection ul {
  list-style: none;
  padding: 0;
}

#achievementsSection li {
  margin-bottom: 10px;
  color: #555;
}

#popUpContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

/*shop*/

#shopIcon {
  height: 30px;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  z-index: 10000;
}


#shopContainer {
  height: 100vh;
  width: 100vw;
  background-color: #454747e6;
  position: fixed;
  margin: 20px;
  text-align: center;
  display: none;

}

#Shopwindow {
  height: 700px;
  width: 80%;
  /* Adjust as needed */
  max-width: 900px;
  background-color: #080808a4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  transition: all ease 1s;
}

#shopcard {
  flex: 0 0 30%;
  height: 290px;
  background-color: rgb(169, 145, 117);
  margin-top: 25px;
  border-radius: 5px;
}

#shopItem {
  height: 150px;
  width: auto;
  margin-top: 10px;
}


#buyButton {
  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
  border-radius: 5px;
  border-color: white;
}

#buyButton:hover {
  background-color: rgba(87, 253, 87, 0.372);
  border-color: black;

}

#buy-button-container {
  margin-top: 40px;
}

#buyButton img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}

#buyButton1 {
  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
  border-radius: 5px;
  border-color: white;
}

#buyButton1:hover {
  background-color: rgba(87, 253, 87, 0.372);
  border-color: black;

}

#buyButton1 img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}

#buyButton2 {
  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
  border-radius: 5px;
  border-color: white;
}

#buyButton2:hover {
  background-color: rgba(87, 253, 87, 0.372);
  border-color: black;

}

#buyButton2 img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}

#buyButton3 {
  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
  border-radius: 5px;
  border-color: white;
}

#buyButton3:hover {
  background-color: rgba(87, 253, 87, 0.372);
  border-color: black;

}

#buyButton3 img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}

#buyButton4 {
  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
  border-radius: 5px;
  border-color: white;
}

#buyButton4:hover {
  background-color: rgba(87, 253, 87, 0.372);
  border-color: black;

}

#buyButton4 img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}

#buyButton5 {
  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
  border-radius: 5px;
  border-color: white;
}

#buyButton5:hover {
  background-color: rgba(87, 253, 87, 0.372);
  border-color: black;

}

#buyButton5 img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}



#potions {
  margin-top: 12px;
}

#potions img {
  height: 18px;
  width: auto;
  margin-bottom: -3.5px;
}

#potions1 {
  margin-top: 12px;
}

#potions1 img {
  height: 18px;
  width: auto;
  margin-bottom: -3.5px;
}

#potions2 {
  margin-top: 12px;
}

#potions2 img {
  height: 18px;
  width: auto;
  margin-bottom: -3.5px;
}

#potions3 {
  margin-top: 12px;
}

#potions3 img {
  height: 18px;
  width: auto;
  margin-bottom: -3.5px;
}

#potions4 {
  margin-top: 12px;
}

#potions4 img {
  height: 18px;
  width: auto;
  margin-bottom: -3.5px;
}

#potions5 {
  margin-top: 12px;
}

#potions5 img {
  height: 18px;
  width: auto;
  margin-bottom: -3.5px;
}