body {
  background-image: url('../img/background1.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

}

#gemMine {

  cursor: pointer;
}

#gemMine {
  width: 150px;
  /* Adjust the size of the gem mine */
  height: 150px;
  margin-left: -35px;
}


#gemCount {
  font-size: 30px;
  color: white;
  margin-top: 100px;
  margin-left: -5px;
}

#gemCount img {
  height: 23px;
  width: auto;


}

#gemCountValue {
  display: inline-block;
  margin-left: 10px;
  /* Add a small margin between the gem icon and count */
}

#upgrade {
  width: 150px;
  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
}

#upgrade:hover {
  background-color: rgba(87, 253, 87, 0.372);
}

#upgrade img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}


#autoClicker {
  width: 150px;

  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
}

#autoClicker:hover {
  background-color: rgba(87, 253, 87, 0.372);

}

#autoClicker img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;
}

/*boost*/

#productionBoost {
  width: 150px;

  padding: 10px;
  background-color: rgba(87, 253, 87, 0.852);
}

#productionBoost:hover {
  background-color: rgba(87, 253, 87, 0.372);
}

#productionBoost img {
  height: 20px;
  width: auto;
  margin-bottom: -5px;

}

#muteButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

#muteIcon {
  width: 30px;
  height: auto;
}

#muteButton:hover #muteIcon {
  filter: brightness(80%);
}

/*achivments*/
#achievementsButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  margin-right: 35px;
}

#achievementsIcon {
  width: 30px;
  /* Adjust the width as needed */
  height: auto;
}

#achievementsButton:hover #achievementsIcon {
  filter: brightness(80%);
  /* Adjust the hover effect as needed */
}

#achievementsSection {
  position: fixed;
  top: 10px;
  right: 50px;
  /* Adjust the right position as needed */
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  display: none;
  z-index: 999;
}

#achievementsSection h2 {
  color: #333;
}

#achievementsSection ul {
  list-style: none;
  padding: 0;
}

#achievementsSection li {
  margin-bottom: 10px;
  color: #555;
}

#popUpContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

/*shop*/

#shopIcon {
  height: 30px;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  z-index: 1000;
}


#shopContainer {
  height: 100vh;
  width: 100vw;
  background-color: #5a5e5de6;
  position: fixed;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  display: none;
}

#Shopwindow {
  height: 550px;
  width: 900px;
  background-color: #4146449a;
  position: absolute;
  left: 16%;



  margin: 20px;
  text-align: center;
}